[submodule "week1/05-token-linearbondingcurve/lib/openzeppelin-contracts"]
	path = week1/05-token-linearbondingcurve/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
